{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}{% translate "Edit User" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>{% translate "Edit User" %}</h4>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'core/_form_fields.html' with form=form %}

                    <div class="d-flex justify-content-between">
                        <a href="{% url 'users:detail' id=request.user.id %}" class="btn btn-secondary">{% translate "Cancel" %}</a>
                        <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}