services:

  django:
    build:
      context: .
      dockerfile: docker/production.Dockerfile
    env_file:
      - .env
    volumes:
      - media_volume:/app/media/
    depends_on:
      - rabbitmq
    networks:
      - backend

  celery:
    build:
      context: .
      dockerfile: docker/production.Dockerfile
    command: celery -A promise_tracker.tasks worker -l warning --without-gossip --without-mingle --without-heartbeat
    env_file:
      - .env
    depends_on:
      - rabbitmq
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3.13-alpine
    networks:
      - backend
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]

  nginx:
    build:
      context: .
      dockerfile: docker/nginx.Dockerfile
    depends_on:
      - django
    networks:
      - backend
    volumes:
      - media_volume:/var/www/media/
    ports:
      - "80:80"

networks:
  backend:

volumes:
  media_volume:

