.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.alerts-bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1050;
  max-width: 380px;
}

.alerts-bottom-right .alert {
  margin-bottom: .5rem;
}

.border-dashed {
  border-style: dashed !important;
}